.greeting-container {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  margin: 1.5rem;
  font-size: 2rem;
  font-family: "Comfortaa Variable", sans-serif;
  font-weight: 300;
}

h2 {
  text-align: center;
  margin: 20px;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Comfortaa Variable", sans-serif;
}

@media (min-width: 1200px) {
  .greeting-container {
    margin-top: 100px;
  }

  h1 {
    text-align: left;
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }
}

.animate-hi,
.animate-comma,
.animate-my,
.animate-name,
.animate-is,
.animate-ken,
.animate-i,
.animate-am,
.animate-a,
.animate-software,
.animate-engineer {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

.animate-comma {
  animation-delay: 0.5s;
}

.animate-my {
  animation-delay: 1.8s;
}

.animate-name {
  animation-delay: 2.1s;
}

.animate-is {
  animation-delay: 2.4s;
}

.animate-ken {
  animation-delay: 2.7s;
}

.animate-i {
  animation-delay: 3.9s;
}

.animate-am {
  animation-delay: 4.2s;
}

.animate-a {
  animation-delay: 4.5s;
}

.animate-software {
  animation-delay: 5.2s;
}

.animate-engineer {
  animation-delay: 6s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
