.greeting-container {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 2rem;
  font-family: "Comfortaa Variable", sans-serif;
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

.animate-hi,
.animate-comma,
.animate-my,
.animate-name,
.animate-is,
.animate-ken {
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

.animate-comma {
  animation-delay: 0.5s;
}

.animate-my {
  animation-delay: 1.8s;
}

.animate-name {
  animation-delay: 2.1s;
}

.animate-is {
  animation-delay: 2.4s;
}

.animate-ken {
  animation-delay: 2.7s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
