.card {
  border-radius: 5px;
  box-shadow: 0px 5px 5px 2px #d3d3d3;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 5px;
  width: 60px;
  height: 60px;
}
