.outer {
  width: 95px;
  height: 95px;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  visibility: visible;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 2px #d3d3d3;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  border-radius: 5px;
}

.card:hover {
  width: 85px;
  height: 85px;
}

.card:active {
  width: 85px;
  height: 85px;
  margin-top: 5px;
  margin-right: 5px;
  outline: none;
  box-shadow: inset -5px 5px 5px #d3d3d3, inset 2px -2px 5px #d3d3d3,
    0px 1px 1px #d3d3d3;
}
